<div class='row'>
  <div class="col-md-6">
      <img class="img-fluid" src="<%= @recipe.photo.url %>" alt="<%= @recipe.title %>">
  </div>

  <div class="col-md-6">
    <h3 class="my-3"><%= @recipe.title %></h3>
    <p><%= @recipe.description %></p>
    <h3 class="my-3">Recipe Details</h3>
    <ul>
      <%if @recipe.methods.include?(:tags) %>
        <li>
          Tags:
          <% @recipe.tags.each do |tag| %>
            <span class="badge badge-secondary"><%= tag.name %></span>
          <% end %>
        </li>
      <% end %>
      <%if @recipe.methods.include?(:chef) %>
        <li>
          Chef: <%= @recipe.chef.name %>
        </li>
      <%end%>
    </ul>
  </div>
</div>
